<footer>
  <div class="subscribe">
    <p>Підписуйтесь на новини від Bokmal</p>
    <form>
      <input type="email" name="email" placeholder="E-Mail">
      <input type="submit">
    </form>
  </div>
  <div class="social">
    <p>Ми у соціальних мережах</p>
    <div class="social_images">
      <img src="assets/images/facebook.svg">
      <img src="assets/images/twitter.svg">
      <img src="assets/images/instagram.svg">
    </div>
  </div>
  <div class="copyright">
    <p>2017 Букмоль Sed ut perspiciatis, unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperi</p>
  </div>
</footer>
